/* messy !*/
#skeleton {
    display: none;
}

.vids {
    width: 500px;
    margin: auto;
    position: relative;
    height: 400px;
}

.videos {
    margin: 4em auto;
    position: relative
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 500px;
    height: 400px;
}

.jumbotron {
    padding-top:0;
}

.jumbotron h1 {
	font-size: 38px;
}

.row {
	margin: 10px;
}

ul#sortable {
    border: 3px dotted #f5f5f5;
    overflow: auto;
    padding: 10px 7px;
    margin-bottom: 0;
    min-height: 150px;
}

#sortable .panel {
    cursor: move;
}

.videoPlaceholder {
    background: #fbfbfb;
    border-color: #eee;
}

/* .mixer */
.mixer img {
	width: 133px;
}

.video-highlight { 
	height: 1.5em; 
	line-height: 1.2em; 
	border: 1px solid red;
	width: 200px;
	display: block;
	min-height: 250px;
}

/* .picker */
.play-video {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.play {
	position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.6);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
    line-height: 3em;
    font-size: 40px;
    text-align: center;
}

.picker .video {
	position: abosolute;
}

.picker .add {
	margin-left: 10px;
}

.panel {
	margin-bottom: 20px;
}
